FlightsClient/src/META-INF/FlightWSService.wsdl_1.xml

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.3 (tags/2.3-7528; 2013-04-29T19:34:10+0000) JAXWS-RI/2.2.8 JAXWS/2.2 svn-revision#unknown. --><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.3 (tags/2.3-7528; 2013-04-29T19:34:10+0000) JAXWS-RI/2.2.8 JAXWS/2.2 svn-revision#unknown. --><definitions xmlns:tns="http://javabegin.ru/training/ws" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://javabegin.ru/training/ws">
    <types>
        <xsd:schema>
            <xsd:import namespace="http://javabegin.ru/training/ws" schemaLocation="http://localhost:8080/Flights_WS/FlightWSService?xsd=1"/>
        </xsd:schema>
    </types>
    <message name="getAllCities">
        <part name="parameters" element="tns:getAllCities"/>
    </message>
    <message name="getAllCitiesResponse">
        <part name="parameters" element="tns:getAllCitiesResponse"/>
    </message>
    <message name="searchFlight">
        <part name="parameters" element="tns:searchFlight"/>
    </message>
    <message name="searchFlightResponse">
        <part name="parameters" element="tns:searchFlightResponse"/>
    </message>
    <message name="ArgumentException">
        <part name="fault" element="tns:ArgumentException"/>
    </message>
    <message name="buyTicket">
        <part name="parameters" element="tns:buyTicket"/>
    </message>
    <message name="buyTicketResponse">
        <part name="parameters" element="tns:buyTicketResponse"/>
    </message>
    <message name="checkReservationByCode">
        <part name="parameters" element="tns:checkReservationByCode"/>
    </message>
    <message name="checkReservationByCodeResponse">
        <part name="parameters" element="tns:checkReservationByCodeResponse"/>
    </message>
    <portType name="FlightWS">
        <operation name="getAllCities">
            <input xmlns:ns2="http://www.w3.org/2007/05/addressing/metadata" xmlns:ns1="http://www.w3.org/2006/05/addressing/wsdl" ns1:Action="http://javabegin.ru/training/ws/FlightWS/getAllCitiesRequest" ns2:Action="http://javabegin.ru/training/ws/FlightWS/getAllCitiesRequest" message="tns:getAllCities"/>
            <output xmlns:ns3="http://www.w3.org/2007/05/addressing/metadata" ns3:Action="http://javabegin.ru/training/ws/FlightWS/getAllCitiesResponse" message="tns:getAllCitiesResponse"/>
        </operation>
        <operation name="searchFlight">
            <input xmlns:ns5="http://www.w3.org/2007/05/addressing/metadata" xmlns:ns4="http://www.w3.org/2006/05/addressing/wsdl" ns4:Action="http://javabegin.ru/training/ws/FlightWS/searchFlightRequest" ns5:Action="http://javabegin.ru/training/ws/FlightWS/searchFlightRequest" message="tns:searchFlight"/>
            <output xmlns:ns6="http://www.w3.org/2007/05/addressing/metadata" ns6:Action="http://javabegin.ru/training/ws/FlightWS/searchFlightResponse" message="tns:searchFlightResponse"/>
            <fault xmlns:ns7="http://www.w3.org/2007/05/addressing/metadata" message="tns:ArgumentException" name="ArgumentException" ns7:Action="http://javabegin.ru/training/ws/FlightWS/searchFlight/Fault/ArgumentException"/>
        </operation>
        <operation name="buyTicket">
            <input xmlns:ns9="http://www.w3.org/2007/05/addressing/metadata" xmlns:ns8="http://www.w3.org/2006/05/addressing/wsdl" ns8:Action="http://javabegin.ru/training/ws/FlightWS/buyTicketRequest" ns9:Action="http://javabegin.ru/training/ws/FlightWS/buyTicketRequest" message="tns:buyTicket"/>
            <output xmlns:ns10="http://www.w3.org/2007/05/addressing/metadata" ns10:Action="http://javabegin.ru/training/ws/FlightWS/buyTicketResponse" message="tns:buyTicketResponse"/>
            <fault xmlns:ns11="http://www.w3.org/2007/05/addressing/metadata" message="tns:ArgumentException" name="ArgumentException" ns11:Action="http://javabegin.ru/training/ws/FlightWS/buyTicket/Fault/ArgumentException"/>
        </operation>
        <operation name="checkReservationByCode">
            <input xmlns:ns13="http://www.w3.org/2007/05/addressing/metadata" xmlns:ns12="http://www.w3.org/2006/05/addressing/wsdl" ns12:Action="http://javabegin.ru/training/ws/FlightWS/checkReservationByCodeRequest" ns13:Action="http://javabegin.ru/training/ws/FlightWS/checkReservationByCodeRequest" message="tns:checkReservationByCode"/>
            <output xmlns:ns14="http://www.w3.org/2007/05/addressing/metadata" ns14:Action="http://javabegin.ru/training/ws/FlightWS/checkReservationByCodeResponse" message="tns:checkReservationByCodeResponse"/>
            <fault xmlns:ns15="http://www.w3.org/2007/05/addressing/metadata" message="tns:ArgumentException" name="ArgumentException" ns15:Action="http://javabegin.ru/training/ws/FlightWS/checkReservationByCode/Fault/ArgumentException"/>
        </operation>
    </portType>
</definitions>