HealthProcessorClient/xml-resources/web-service-references/HealthProcessorService/wsdl/localhost_8080/HealthProcessorServer/HealthProcessorService.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.3 (tags/2.3-7528; 2013-04-29T19:34:10+0000) JAXWS-RI/2.2.8 JAXWS/2.2 svn-revision#unknown. --><xs:schema xmlns:tns="http://ws.health.ro/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://ws.health.ro/">

<xs:element name="prescribeAlternative" type="tns:prescribeAlternative"/>

<xs:element name="prescribeAlternativeResponse" type="tns:prescribeAlternativeResponse"/>

<xs:element name="prescribeTraditional" type="tns:prescribeTraditional"/>

<xs:element name="prescribeTraditionalResponse" type="tns:prescribeTraditionalResponse"/>

<xs:complexType name="prescribeTraditional">
<xs:sequence>
<xs:element name="arg0" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="prescribeTraditionalResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="prescribeAlternative">
<xs:sequence>
<xs:element name="arg0" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="prescribeAlternativeResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>
</xs:schema>