ClientFlightWS/ClientFlightWS/Service References/FlightWS/FlightWSService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<definitions xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://javabegin.ru/training/ws" targetNamespace="http://javabegin.ru/training/ws" xmlns="http://schemas.xmlsoap.org/wsdl/">
  <types>
    <xsd:schema>
      <xsd:import schemaLocation="http://localhost:8080/Flights_WS/FlightWSService?xsd=1" namespace="http://javabegin.ru/training/ws" />
    </xsd:schema>
  </types>
  <message name="getAllCities">
    <part name="parameters" element="tns:getAllCities" />
  </message>
  <message name="getAllCitiesResponse">
    <part name="parameters" element="tns:getAllCitiesResponse" />
  </message>
  <message name="searchFlight">
    <part name="parameters" element="tns:searchFlight" />
  </message>
  <message name="searchFlightResponse">
    <part name="parameters" element="tns:searchFlightResponse" />
  </message>
  <message name="ArgumentException">
    <part name="fault" element="tns:ArgumentException" />
  </message>
  <message name="buyTicket">
    <part name="parameters" element="tns:buyTicket" />
  </message>
  <message name="buyTicketResponse">
    <part name="parameters" element="tns:buyTicketResponse" />
  </message>
  <message name="checkReservationByCode">
    <part name="parameters" element="tns:checkReservationByCode" />
  </message>
  <message name="checkReservationByCodeResponse">
    <part name="parameters" element="tns:checkReservationByCodeResponse" />
  </message>
  <portType name="FlightWS">
    <operation name="getAllCities">
      <input xmlns:ns2="http://www.w3.org/2007/05/addressing/metadata" xmlns:ns1="http://www.w3.org/2006/05/addressing/wsdl" ns1:Action="http://javabegin.ru/training/ws/FlightWS/getAllCitiesRequest" ns2:Action="http://javabegin.ru/training/ws/FlightWS/getAllCitiesRequest" message="tns:getAllCities" />
      <output xmlns:ns3="http://www.w3.org/2007/05/addressing/metadata" ns3:Action="http://javabegin.ru/training/ws/FlightWS/getAllCitiesResponse" message="tns:getAllCitiesResponse" />
    </operation>
    <operation name="searchFlight">
      <input xmlns:ns5="http://www.w3.org/2007/05/addressing/metadata" xmlns:ns4="http://www.w3.org/2006/05/addressing/wsdl" ns4:Action="http://javabegin.ru/training/ws/FlightWS/searchFlightRequest" ns5:Action="http://javabegin.ru/training/ws/FlightWS/searchFlightRequest" message="tns:searchFlight" />
      <output xmlns:ns6="http://www.w3.org/2007/05/addressing/metadata" ns6:Action="http://javabegin.ru/training/ws/FlightWS/searchFlightResponse" message="tns:searchFlightResponse" />
      <fault xmlns:ns7="http://www.w3.org/2007/05/addressing/metadata" ns7:Action="http://javabegin.ru/training/ws/FlightWS/searchFlight/Fault/ArgumentException" name="ArgumentException" message="tns:ArgumentException" />
    </operation>
    <operation name="buyTicket">
      <input xmlns:ns9="http://www.w3.org/2007/05/addressing/metadata" xmlns:ns8="http://www.w3.org/2006/05/addressing/wsdl" ns8:Action="http://javabegin.ru/training/ws/FlightWS/buyTicketRequest" ns9:Action="http://javabegin.ru/training/ws/FlightWS/buyTicketRequest" message="tns:buyTicket" />
      <output xmlns:ns10="http://www.w3.org/2007/05/addressing/metadata" ns10:Action="http://javabegin.ru/training/ws/FlightWS/buyTicketResponse" message="tns:buyTicketResponse" />
      <fault xmlns:ns11="http://www.w3.org/2007/05/addressing/metadata" ns11:Action="http://javabegin.ru/training/ws/FlightWS/buyTicket/Fault/ArgumentException" name="ArgumentException" message="tns:ArgumentException" />
    </operation>
    <operation name="checkReservationByCode">
      <input xmlns:ns12="http://www.w3.org/2006/05/addressing/wsdl" xmlns:ns13="http://www.w3.org/2007/05/addressing/metadata" ns12:Action="http://javabegin.ru/training/ws/FlightWS/checkReservationByCodeRequest" ns13:Action="http://javabegin.ru/training/ws/FlightWS/checkReservationByCodeRequest" message="tns:checkReservationByCode" />
      <output xmlns:ns14="http://www.w3.org/2007/05/addressing/metadata" ns14:Action="http://javabegin.ru/training/ws/FlightWS/checkReservationByCodeResponse" message="tns:checkReservationByCodeResponse" />
      <fault xmlns:ns15="http://www.w3.org/2007/05/addressing/metadata" ns15:Action="http://javabegin.ru/training/ws/FlightWS/checkReservationByCode/Fault/ArgumentException" name="ArgumentException" message="tns:ArgumentException" />
    </operation>
  </portType>
</definitions>